h1{
    color:red;
    font-family:sans-serif;
}

p{
    color:black;
    font-family:fantasy;

}
a{
      font-family     : Helvetica, sans-serif;
      text-decoration : none;
      background-color: red;
      padding         : 5px;
}
 a:hover{
      background-color: red;
      color           : #ffffff;
}
table{
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;
    border-width: 1px;
    border-style:solid
    border-color: #2695A6;
    font-style: oblique;
}

th{
    font-weight: 800;
    background-color:red;
    color:black
}
